RewriteEngine On

RewriteCond %{HTTP_HOST} ^expat-solutions.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^expatbasel.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^expats-basel.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^expats-basel.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^expatsbasel.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^expatsbasel.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^premium-relocation.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^premiumrelocation.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^relocationbasel.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^relocationbasel.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^relocationsolutions.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^relocator.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^swiss-expat-service.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^swiss-expat-service.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^swiss-expat-services.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^swissexpatservice.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^swissexpatservices.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^swissexpatservices.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.expat-solutions.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.expatbasel.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.expats-basel.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.expats-basel.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.expatsbasel.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.expatsbasel.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.premium-relocation.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.premiumrelocation.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.relocationbasel.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.relocationbasel.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.relocationsolutions.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.relocator.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.swiss-expat-service.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.swiss-expat-service.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.swiss-expat-services.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.swissexpatservice.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.swissexpatservices.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.swissexpatservices.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)concierge-basel.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)concierge-basel.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)conciergebasel.ch$ [NC]
RewriteRule ^(.*)$ http://connectiv.ch/$1 [R=301,L]

RewriteCond %{HTTP_HOST} ^modelgroup.at$ [NC,OR]
RewriteCond %{HTTP_HOST} ^modelgroup.biz$ [NC,OR]
RewriteCond %{HTTP_HOST} ^aarepapier.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^model.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^modelgroup.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^thurpapier.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^aarepapier.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^modelholding.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^model.cz$ [NC,OR]
RewriteCond %{HTTP_HOST} ^modelgroup.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^modelgroup.hr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^model.pl$ [NC,OR]
RewriteCond %{HTTP_HOST} ^modelgroup.pl$ [NC,OR]
RewriteCond %{HTTP_HOST} ^model.sk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^model-obaly.sk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.modelgroup.at$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.modelgroup.biz$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.aarepapier.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.model.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.modelgroup.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.thurpapier.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.aarepapier.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.modelholding.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.model.cz$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.modelgroup.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.modelgroup.hr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.model.pl$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.modelgroup.pl$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.model.sk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.model-obaly.sk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.inoflex.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^inoflex.ch$ [NC]
RewriteRule ^(.*)$ http://modelgroup.com/$1 [R=301,L]


RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.biz$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.cc$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classic-driver.co.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classic-driver.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.name$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.org$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.tv$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.us$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicinside.at$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicinside.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicinside.co.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicinside.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicplane.net$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassiclife.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)bentleybrooklandsbook.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)bentleybrooklandsbook.co.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)bentleybrooklandsbook.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)bentleybrooklandsbook.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)carcollection.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)carunddriver.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)charcoal.li$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicastonmartin.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicauctions.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicbentley.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicbrands.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classiccollector.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classic-driver.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.co.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.net$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicfactory.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicfactory.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classichotel.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classiclife.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classiclife.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classiclife.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classiclife.co.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classiclife.es$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classiclife.fr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicliving.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicmarina.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicmedia.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicnet.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicplane.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicportal.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicportal.net$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicrollsroyce.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicvilla.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicvilla.net$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicwerk.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)dealerplugin.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassicdriver.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassicdriver.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassicdriver.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassicdriver.co.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassicdriver.fr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassicdriver.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassicdriver.es$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassiclife.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassiclife.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassiclife.co.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassiclife.fr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassiclife.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassiclife.es$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)netlife.li$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)netlife.me$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)privatecollection.li$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)teamclassicdriver.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)team-classicdriver.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)theclassicdriver.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)theclassicdriver.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)theclassicdriver.ch$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)theclassicdriver.co.uk$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)theclassicdriver.fr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)theclassicdriver.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)theclassicdriver.es$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.at$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.cn$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.fr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.info$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.ru$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)Classicmalls.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicmarina.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicracing.de$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicvilla.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)prestigedriver.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.gr$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.in$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.jp$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.it$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassicdriver.it$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)myclassiclife.it$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)theclassicdriver.it$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classiclife.it$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdealer.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriverprint.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classichotel.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicinside.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classiclife.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicmarina.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicoffice.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicplane.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicportal.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classics24.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)ferraridriver.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)hammer-gruppe.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)jaguardriver.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)maseratidriver.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)pacifichaus.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)rollsroycedriver.eu$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdriver.asia$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicinside.asia$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classiclife.asia$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicdealer.asia$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classichotel.asia$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicmarina.asia$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicoffice.asia$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicplane.asia$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicportal.asia$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicvilla.asia$ [NC,OR]
RewriteCond %{HTTP_HOST} ^(www.|)classicmedia.asia$ [NC]
RewriteRule ^(.*)$ http://www.classicdriver.com/$1 [R=301,NE,L]


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteCond $1 !^(index\.php)
RewriteRule ^(.*)$ index.php/$1 [L]
